#root > div > div > div:nth-child(1) > nav > div > ul > li:nth-child(1) > a > div {
    width: 271px;
    height: 38px;
    border-radius: 19px;
    background-color: #f5a623;
}

#root > div > div > div:nth-child(1) > nav > div > ul > li:nth-child(1) > a > div > input {
    background-color: #f5a623;
    border: 1px solid #f5a623;
    border-radius: 19px;
}

#root > div > div > div:nth-child(1) > nav > div > ul > li:nth-child(3) > a > i {
 color: #ffab00;
}

#root > div {
    background-image: url('../images/5372.jpg')
}

#root > div > div > div.row > div > p {
    width: 291px;
    height: 36px;
    font-family: DoctorSoos;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #575aab;
}

#root > div > div > div.row > div > form > input {
    width: 181px;
    height: 36px;
    font-family: DoctorSoos;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #add3c7;
}

#message {
    width: 533px;
    height: 169px;   
}